<h1>h1可以不加font-size，尺寸單位需使用rem, em, %</h1>
<h2>h2可以不加font-size，尺寸單位需使用rem, em, %</h2>
<h3>h3可以不加font-size，尺寸單位需使用rem, em, %</h3>
<h4>h4可以不加font-size，尺寸單位需使用rem, em, %</h4>
<h5>h5可以不加font-size，尺寸單位需使用rem, em, %</h5>
<h6>h6可以不加font-size，尺寸單位需使用rem, em, %</h6>
<p>p可以不加font-size，尺寸單位需使用rem, em, %</p>
<p>除了h1的文字標籤可複數使用</p>
<span style="font-size: 0.5rem"
  >span可以不加font-size，尺寸單位需使用rem, em, %</span
>
<div>
  <label for="input-with-label">所有input都要有對應的標籤label</label>
  <input id="input-with-label" type="text" placeholder="input" />
</div>
<div>
  <input
    type="text"
    placeholder="input without label"
    title="input without label must have title"
  />
</div>
<div><a routerLink="/" title="連結title">連結要有title</a></div>
<div class="a">
  <a routerLink="/" title="連結title為必要">
    <svg
      id="youtube-logo"
      height="24"
      width="24"
      data-name="Logo"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="#ff0000"
    >
      <path d="M0 0h24v24H0V0z" fill="none" />
      <path
        d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"
      /></svg>圖片連結的連結文字亦不可為空</a
  >
</div>
<div>
  <a href="javascript:void(0)" onclick="alert('hi')"
    >可用href是javascript:void(0)的a標籤</a
  >
</div>
<div>
  <button>Button文字不可為空</button>
</div>
